<!-- <div class="pie-chart">
  <svg class="d3pie" width="150" height="100"></svg>
</div> -->
<section class="container">
  <div id="card" ng-class="{'flipped': $ctrl.isFlipped}">
    <figure class="front">
      <!-- <span class="power-gauge"></span> -->
      <div class="search-sort">
        <span class="search">
          <!-- <label>Search:</label>
          <input class="searchText" type="text" ng-model="searchText"> -->
          <img class="newsIcon" src="../../../images/newsIcon.png" alt="news">
          <img class="newsIcon showFade" ng-click="$ctrl.cardFlip()" src="../../../images/pie.png" alt="chart">
        </span>
        <span class="sort">
          <label>Sort:&nbsp;</label>
          <select class="sortText" ng-model="sortBy" ng-init="sortBy='-created_at'">
            <option value="-socialScore">Social Media Shares</option>
            <option value="-$ctrl.sentimentScores">Positive Reaction</option>
            <option value="$ctrl.sentimentScores">Negative Reaction</option>
            <option value="sim">Source Importance</option>
            <option value="-created_at">Date</option>
          </select>
        </span>
      </div>
      <div class="articles container-fluid" ng-repeat="article in $ctrl.articles | filter:searchText | orderBy:sortBy">
        <div class="article-container">
          <div class="article-indicators">
            <span ng-model="article.timeAgo" class="align-time" am-time-ago="article.created_at"></span>
            <span class="align-time topLabel" ng-class="{'colorIndicator': article.sentimentLabel !== 'positive'}">{{article.sentiment}}%&nbsp;{{article.sentimentLabel}}</span>
          </div>
          <img class="divider" src="../../../images/divider.png">
          <div class="article-heading">
            <img class="articleThumbnail" ng-src="{{article.source.details.thumbImage}}" src="../../../images/BitcoinWorld.png" alt="img">
            <span class="title"><a ng-href="{{article.url}}" target="_blank">{{article.title}}</a></span>
            <img class="showDetails" ng-if="!article.showArticleDetails" ng-click="article.showArticleDetails = !article.showArticleDetails; $ctrl.newGauge(article)" src="../../../images/downArrow.png" alt="details">
            <img class="showDetails" ng-if="article.showArticleDetails" ng-click="article.showArticleDetails = !article.showArticleDetails" src="../../../images/upArrow.png" alt="details">
          </div>
        </div>
        <div class="article-details" ng-show="article.showArticleDetails">
          <div class="gaugeGroup">
            <div class="sentimentGroup">
              <div class="groupTitle">Sentiment</div>
              <div class="sentimentLabel" ng-class="{'colorIndicator': article.sentimentLabel !== 'positive'}">{{article.sentiment}}</div>
              <div class="sentiment-gauge"></div>
            </div>
            <div class="sentimentGroup">
              <div class="groupTitle">Social</div>
              <div class="socialLabel" ng-class="{'colorIndicator': article.sentimentLabel !== 'positive'}">{{article.social}}</div>
              <div class="social-gauge"></div>
            </div>
            <div class="sentimentGroup">
              <div class="groupTitle">Impact</div>
              <div class="impactLabel" ng-class="{'colorIndicator': article.sentimentLabel !== 'positive'}">{{article.impactScore}}</div>
              <div class="impact-gauge"></div>
            </div>
          </div>
          <p>{{article.date}}</p>
          <!-- <p>Source Importance:  {{article.sim}}</p> -->
          <h4 class="subHeading">Description</h4>
          <p>{{article.body}}</p>
        </div>
      </div>
    </figure>
    <figure class="back">
      <div class="search-sort">
        <span class="search">
          <!-- <gauge-component></gauge-component>
          <label>Search:</label>
          <input class="searchText" type="text" ng-model="searchText"> -->
          <img class="newsIcon showFade" ng-click="$ctrl.cardFlip()" src="../../../images/newsIcon.png" alt="news">
          <img class="newsIcon" src="../../../images/pie.png" alt="chart">
        </span>
      </div>
      <div class="currencyChart">
        <img src="../../../images/currencyChart.png" alt="table">
        <!-- <table class="dataTable" role="grid">
          <thead>
            <tr role="row">
              <th>Name</th>
              <th>Market Cap</th>
              <th>Price</th>
              <th>High (24h)</th>
              <th>Low (24h)</th>
              <th>Open (24h)</th>
              <th>Close (24h)</th>
              <th>% Change (24h)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="no-wrap">
                <img src="https://files.coinmarketcap.com/static/img/coins/16x16/bitcoin.png" class="currency-logo" alt="Bitcoin">
                <span>Bitcoin</span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </figure>
  </div>
</section>
