html {
  background-color: black;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

div.row.align-right {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

div.col-lg-4.news {
  border: 1px solid #BBBBBB;
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 3px;
  height: 506px;
  overflow: auto;
  background-color: #BBBBBB;
}

.showDetails {
  font-size: 0.6em;
  padding: 5px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(41,29,212);
  -webkit-box-shadow: 0 0 1px rgb(41,29,212);
}

div.col-lg-8 {
  border: 1px solid #BBBBBB;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

img#coinLogo {
  height: 30px;
  width: auto;
  padding-left: 2px;
  padding-right: 1px;
}

div.article-container {
  background-color: black;
  display: flex;
  align-items: center;
  margin-top: 5px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 20px;
}

div.articles.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.title {
  color: white;
  font-size: 1em;
}

.articleThumbnail {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

/* NAV */
header.darken {
  background-color: black;
  color: white;
  opacity: 0.90;
  padding-left: 15px !important;
  padding-right: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  margin: 0;
  padding: 20px 0;
  font-size: 3.2em;
}

div.rightbuttons a {
  margin-right: 15px;
}

div.rightbuttons {
  margin-right: 20px;
}

/* D3 */

/*.title {
  color: white;
  margin-top: 15px;
}

svg.d3bar {
  background-color: white;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis--x path {
	display: none;
}

.toolTip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: center;
}*/
