html {
  background-color: black;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

div.col-lg-8.align-right {
  display: flex;
  justify-content: flex-end;
}

img#coinLogo {
  height: 20px;
  width: auto;
}

#main-pic img {
  width: 1422px;
  height: auto;
}

div.col-lg-4 img {
  margin-top: 20px;
  width: 500px;
  height: 400px;
}

/* NAV */
header.darken {
  background-color: black;
  color: white;
  opacity: 0.90;
  padding-left: 15px !important;
  padding-right: 10px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  margin: 0;
  padding: 20px 0;
}

div.rightbuttons a {
  margin-right: 15px;
}

div.rightbuttons {
  margin-right: 20px;
}

/* D3 */

.title {
  color: white;
  margin-top: 15px;
}

svg.d3bar {
  background-color: white;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis--x path {
	display: none;
}

.toolTip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: center;
}
