@font-face {
    font-family: 'PoiretOne';
    src: url('../fonts/PoiretOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
  background-color: black;
  opacity: 1.0;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}

/* Dashboard */

div#test.align-right {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  margin-left: 0;
  margin-right: 0;
  background-color: black;
  overflow: auto;
}

div#hide-when-small.news {
  display: none;
  height: 80vh;
  width: 100vw;
  border: 2px solid #BBBBBB;
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 3px;
  /*height: 556px;*/
  overflow: auto;
  background-color: #BBBBBB;
}

div.candleContainer {
  height: 80vh;
  width: 100vw;
  border: 2px solid #BBBBBB;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.showDetails {
  font-size: 0.6em;
  padding: 5px;
  background-color: #BBBBBB;
  color: black;
  border: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(16,53,105);
  -webkit-box-shadow: 0 0 1px rgb(16,53,105);
}

div.article-container {
  background-color: black;
  margin-top: 5px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 20px;
}

div.search-sort {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-top: 0px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 5px;
}

div.article-details {
  background-color: black;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  padding: 20px;
  color: white;
}

input.searchText {
  font-size: .75em;
}

.searchText, .sortText {
  border-radius: 5px;
  color: black;
}

div.article-heading {
  display: flex;
  align-items: center;
}

.subHeading {
  color: rgb(104,4,7);
}

.article-indicators {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.75em;
  margin-bottom: 7px;
}

div.articles.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.title {
  color: white;
  font-size: 1em;
}

.articleThumbnail {
  height: 30px;
  width: auto;
  margin-right: 10px;
}

/* D3 */

/*.toolTip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: center;
}*/*/

div#hide-when-large.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
  display: none !important;
  width: 98%;
  margin: 5px;
}

div.row.hide {
  display: none;
}

@media (min-width: 420px) {
  div#test.align-right {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: auto;
    width: 95vw;
  }
  div#hide-when-small.news {
    height: 80vh;
    width: 95vw;
    display: none;
  }
  div.candleContainer {
    height: 80vh;
    width: 95vw;
  }
  #mobile-menu {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
}

@media (min-width: 801px) {
  div#test.align-right {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  div#hide-when-small.news {
    display: block;
    height: 80vh;
    width: 30vw;
  }
  div.candleContainer {
    height: 80vh;
    width: 70vw;
  }
  #mobile-menu {
    display: none;
  }
}
