.sentiment-gauge g.arc path, .social-gauge g.arc path, .impact-gauge g.arc path {
	fill: steelblue;
}

.sentiment-gauge g.arc, .social-gauge g.arc, .impact-gauge g.arc {
}

.sentiment-gauge g.pointer, .social-gauge g.pointer, .impact-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

.sentiment-gauge g.label text, .social-gauge g.label text, .impact-gauge g.label text {
	text-anchor: middle;
	font-size: 1.5em;
	font-weight: bold;
	fill: white;
}

g.pointer, g.pointer path {
	fill: #e85116 !important;
}

.gaugeGroup {
	display: flex;
	justify-content: center;
}

div.overall-gauge {
	margin-top: 20px;
}

div.currencyChart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
}

div.sentContainer {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

p.sentLabel {
	color: red;
	font-size: 1.5em;
}

div.overall-gauge {
	display: flex;
	justify-content: center;
}

.overall-gauge g.arc path {
	fill: black;
}
