header.darken {
  background-color: black;
  color: white;
  opacity: 0.90;
  padding-left: 15px !important;
  padding-right: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#coinLogo {
  height: 0.6em;
  width: auto;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.bot img {
  height: 15vh;
  width: auto;
  cursor: pointer;
}

#bot-text {
  height: 8vh;
  padding: 5px;
  border: 2px solid #DDDDDD;
  border-radius: 1em;
}

.tagline {
  margin: 10px 0;
  padding: 5px;
  padding-bottom: 10px !important;
  font-size: 4.3em;
  font-family: 'PoiretOne', sans-serif, 'Lucida Grande', Helvetica, Arial;
  background-image:
    linear-gradient(
      to right,
      rgba(19, 77, 153, 0.79),
      rgba(159, 2, 2, 0.76)
    );
  border-radius: 15px;
}

div.rightbuttons a {
  display: none;
  margin-right: 15px;
}

a.signinButton {
  padding: 5px;
  margin-right: 7.5px;
}

div.rightbuttons {
  display: none;
  margin-right: 20px;
}

@media (min-width: 420px) {

}

@media (min-width: 801px) {
  header.darken {
    background-color: black;
    color: white;
    opacity: 0.90;
    padding-left: 15px !important;
    padding-right: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img#coinLogo {
    height: 33px;
    width: auto;
    padding-left: 5px;
    padding-right: 3px;
  }

  div.rightbuttons a {
    display: block;
    margin-right: 15px;
  }

  div.rightbuttons {
    display: block;
    margin-right: 20px;
  }
}
