<header class="darken">
  <div class="logo">
    <h1 class="tagline">c<span><img id="coinLogo" src="../../images/logo.svg" alt="logo"></span>insight</h1>
  </div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <div class="buttons">
      <div class="rightButtons">
        <a class="signinButton btn btn-success" href="#" ui-sref="home">Log In</a>
        <a class="signinButton btn btn-success" href="#" ui-sref="home">Register</a>
        <a class="aboutButton btn btn-success" href="#">About</a>
      </div>
    </div>
  </div>
</header>

<div class="row align-right">
  <div class="col-lg-4 news">
    <news-component></news-component>
  </div>
  <div class="col-lg-8">
    <candlestick-component></candlestick-component>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <d3-price-volume-component></d3-price-volume-component>
  </div>
</div> -->
