<header class="darken">
  <div class="logo">
    <h1 class="tagline">c<span><img id="coinLogo" src="../../images/logo.svg" alt="logo"></span>insight</h1>
  </div>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <div class="buttons">
      <div class="rightButtons">
        <a class="signinButton btn btn-primary" href="#" ui-sref="home">Log In</a>
        <a class="signinButton btn btn-primary" href="#" ui-sref="home">Register</a>
        <a class="signinButton btn btn-primary" href="https://prezi.com/zr4gqon6ru6y/edit/#49_254272383" target="_blank">About</a>
      </div>
    </div>
  </div>
</header>

<div class="row align-right" id="test">
  <div id="hide-when-small" class="news">
    <news-component></news-component>
  </div>
  <div class="candleContainer">
    <candlestick-component></candlestick-component>
  </div>
</div>

<footer id="mobile-menu">
  <div class="">
    Chart
  </div>
  <div class="">
    News
  </div>
  <div class="">
    About
  </div>
</footer>
