<p class="title">D3 price-volume chart</p>
<!-- <div style="position:absolute; top: 50; left: 0;">
    <button onclick="chart.switchYAxisOrder(!chart.switchYAxisOrder()); chart.update();">toggle axis</button>
    <button onclick="chart.focusEnable(!chart.focusEnable()); chart.update();">toggle focus</button>
    <span style="color: #C60;">&lt;-- turn focus on or off!</span>
</div>
<div id="chart1" class='with-3d-shadow with-transitions'>

</div> -->

<svg class="d3bar" width="960" height="500"></svg>
